/* - - - - - - - - - - - - - - - - - - - - - - */
/*             CSS for "competences" pages     */
/* - - - - - - - - - - - - - - - - - - - - - - */

#competences {
    margin-bottom: 20rem;
}

#blockCtf {
    margin-top: 3rem;
}

#blockCpt {
    margin-top: 2rem;
}

.cadre {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Merienda', cursive;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

#transparent {
    background-color: rgba(255, 255, 255, 0.5);
}

.yellow {
    color: black;
    font-weight: 900;
    font-size: 1rem;
}

.cptOC {
    background-color: rgba(0, 0, 0, 0.85);
    font-family: 'Merienda', cursive;
}