/* CSS de la page d'accueil */

body {
  /* Code pour que l'image reste fixe et responsive */
  margin: 0;
  padding: 0;
  background: url(../img/images/fond.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

.img-fluid {
  /* A utiliser avec class="img-fluid" à appliquer à chaque image déclarée dans le html, pour que toutes les images soient responsives */
  max-width: 100%;
  height: auto;
}

a:hover {
  color: #e65100 !important;
}

.btn-dark:hover {
  background-color: #e65100;
}

/* CSS du header */
#head {
  /* Taille et police de la page d'accueil */
  font-family: 'sans serif';
  padding-top: 15rem;
}

#presentation {
  /* police et position de l'entête du titre pro */
  line-height: 150%;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 20px;
  height: 100%;
  height: auto !important;
  text-align: center;
}

#titre {
  /* titre professionnel */
  font-size: 2.25rem;
}

#P0 {
  /* Sous-titre : spécialités */
  font-size: 0.75rem;
  word-spacing: 4px;
  letter-spacing: .1rem;
}

#P1 {
  /* Citation perso */
  font-size: 1rem;
}

/* Barre Menu */
#menu {
  margin-top: 25rem;
  line-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: auto !important;
  width: 100% !important;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-link {
  font-family: 'Merienda', cursive;
  color: white;
  font-size: 1rem;
  text-align: center;
}

#navButton {
  background-color: rgba(0, 0, 0, 0.5);
}

#textNavButton {
  font-family: 'Merienda', cursive;
  font-size: 1rem;
}

@media screen and (max-width:991px) {
  .imgNavBar {
    display: none;
  }
}

/* Fin barre Menu */

/*En savoir plus*/
#plus {
  margin-top: 10rem;
}

#textCard {
  background-color: rgba(0, 0, 0, 0.85);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.90rem;
}

#idCard {
  margin-top: 5rem;
  background-color: rgba(0, 0, 0, 0.85);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.90rem;
}

.idCard2 {
  background-color: rgba(0, 0, 0, 0.85);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.90rem;
}

/* Fin CSS du header */

/* CSS du Footer */
footer {
  width: 100%;
  margin-top: 12rem;
  padding-top: 0.5rem;
  height: auto;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.75);
  font-family: 'Merienda', cursive;
}

.footer-title {
  font-size: 0.85rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

#contact {
  font-size: 0.95rem;
}

.footer-legis {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: rgb(255, 255, 255);
}

hr {
  background-color: rgb(238, 83, 17);
  width: 60px;
  height: 1px;
}

.fa-html5 {
  color: #f16529;
}

.fa-css3-alt {
  color: #5423f4;
}

.fa-js {
  color: #f7df1e;
}

.fa-bootstrap {
  color: #563d7c;
}

/* Fin css du footer */
/* CSS des catégories Menu */
#menu1 {
  line-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: auto !important;
  width: 100% !important;
}

.home, .exp, .dpl, .pscol, .crt, .lsr, .ctc {
  font-family: 'Merienda', cursive;
  color: white;
  font-size: 1rem;
  text-align: center;
}

/* Compétences */
#competences {
  margin-bottom: 20rem;
}

#blockCtf {
  margin-top: 3rem;
}

#blockCpt {
  margin-top: 2rem;
}

.cadre {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Merienda', cursive;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

#transparent {
  background-color: rgba(255, 255, 255, 0.5);
}

.yellow {
  color: black;
  font-weight: 900;
  font-size: 1rem;
}

.cptOC {
  background-color: rgba(0, 0, 0, 0.85);
  font-family: 'Merienda', cursive;
}



/* Expérience */
#experience {
  margin-bottom: 20rem;
}

#Informatique {
  margin-top: 3rem;
}

#Autre {
  margin-bottom: 3rem;
}

#Enseignement {
  margin-bottom: 3rem;
}

.info {
  background-color: rgba(0, 0, 0, 0.75);
}

.informatique1 {
  background-color: rgba(255, 255, 255, 0.65);
}

.titleColor {
  color: #e65100 !important;
}

#autre {
  margin-top: 10rem;
}

#enseignement {
  margin-top: 10rem;
}

/* Pour rendre responsive les tableaux expérience */
@media screen and (max-width:800px) {
  table {
    display: flex;
  }

  thead {
    width: 20%;
    min-width: 90px;
  }

  tbody {
    flex: 1;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  td {
    text-align: left;
    border-right: 0;
    border-bottom: 1px solid black;
  }

  .marge1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .marge2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .marge3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  tr:last-child td:last-child {
    border-bottom: 0;
  }

  tbody tr:not(:first-child) td::before {
    position: absolute;
    /* content:'Pseudo'; */
    color: white;
    font-weight: bold;
    width: calc(20% - 13px);
    min-width: 90px;
    padding: 5px;
    border-bottom: 1px solid black;
    margin-left: calc(-20% - 2px);
    margin-top: -5px;
  }

  tbody tr:last-child td:last-child::before {
    border-bottom: 0;
  }
}

/* Fin responsive tableaux expérience */
/* Diplômes */
#diplomes {
  margin-bottom: 20rem;
}

#blockDpl {
  margin-top: 3rem;
}

.space {
  margin-top: 5rem;
}

.bottom {
  margin-bottom: 5rem;
}

.police {
  font-family: 'Merienda', cursive;
  color: #e65100;
}

/* Pour rendre responsive les card diplômes */
@media screen and (max-width:990px) {
  .center-mr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 5rem;
  }

  .center-ml {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 5rem;
  }
}

@media screen and (max-width:450px) {
  .center-mr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-top: 5rem;
  }

  .center-ml {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-top: 5rem;
  }
}

/* Fin responsivité card diplômes */
/* Parcours scolaire */
#ParcoursScolaire {
  margin-bottom: 20rem;
}

#blockPscol {
  margin-top: 5rem;
}

#Formation {
  background-color: rgba(255, 255, 255, 0.65);
}

/* Créations */
#creations {
  margin-bottom: 20rem;
}

#blockCrt {
  margin-top: 5rem;
}

.create {
  background-color: #dcd3b2;
  margin-top: 5rem;
}

/* Loisirs */
#loisirs {
  margin-bottom: 20rem;
}

#blockLsr {
  margin-top: 5rem;
}


.KungFu {
  background-color: rgba(255, 255, 255, 0.65);
}

.buttonScroll {
  display: inline-block;
  background-color: #000000;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.buttonScroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

.buttonScroll:hover {
  cursor: pointer;
  background-color: #e65100;
}

.buttonScroll:active {
  background-color: #e65100;
}

.buttonScroll.show {
  opacity: 1;
  visibility: visible;
}
