<!DOCTYPE html>
<!-- Specification of the page language and reading direction. Here : french, left to right. -->
<html lang="fr-FR" dir="ltr">

<head>

<!--|____________________________________|-->
<!--|----------------------------------- |-->
<!--| BASIC META - MINIMAL CONFIGURATION |-->
<!--|----------------------------------- |-->
<!--|____________________________________|-->

  <!-- Support for accents and other special characters -->
  <meta charset="utf-8" />
  <!-- For responsive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Internet Explorer Compatibility -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- The description that the browser should display in its results -->
  <meta name="description"
    content="Responsable pédagogique & Chef de projet enseignement - ingénierie pédagogique, didactique, formation, management, conception">

<!--|____________________________________|-->
<!--|----------------------------------- |-->
<!--|      CDN - PROPER CONFIGURATION    |-->
<!--|----------------------------------- |-->
<!--|____________________________________|-->

   <!-- Bootstrap CDN -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="../../assets/CDN/bootstrap.min.css">
   <!-- CSS link for animation -->
   <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
   <link rel="stylesheet" href="../../assets/CDN/aos.css">
   <!-- CSS link for the scroll to top -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="../../assets/CDN/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
   <link href="../../assets/CDN/merriweather/merriweather.css" rel="stylesheet">
   <!-- Link to CSS page -->
   <link rel="stylesheet" href="../../assets/CSS/style.css">
   <!-- Link to CSS specific to this page -->
   <link rel="stylesheet" href="../../assets/CSS/competences.css">
   <!-- Link for the font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!-- Merienda -->
     <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
     <link href="../../assets/CDN/Merienda/merienda.css" rel="stylesheet">
     <!-- Roboto -->
     <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
     <link href="../../assets/CDN/roboto.css" rel="stylesheet">
   <!-- thumbnail icon -->
   <link rel="icon" href="../../img/images/dragon-face_1f432.png" 
   alt="Tête de dragon chinois, vert et jaune.">
   <!-- thumbnail title -->
  <title>Paul Compère - Responsable Pédagogique & Développeur</title>

<!--|____________________________________|-->
<!--|----------------------------------- |-->
<!--|  SEO OPTIMIZATION - SOCIAL MEDIA   |-->
<!--|----------------------------------- |-->
<!--|____________________________________|-->

 <!-- OPEN GRAPH DATA - OPTIMIZED FOR FACEBOOK & lINKEDIN -->

  <meta property="og:title" content="Paul Compère - Responsable Pédagogique" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://shaolinspirit76.github.io/paul.compere/" />
  <meta property="og:image" content="http://paul-compere.github.io/img/images/doomsday.svg" alt="androïde en méditation en position du lotus tel un moine bouddhiste" />
  <meta property="og:description"
    content="Responsable pédagogique & Chef de projet enseignement - ingénierie pédagogique, didactique, formation, management, conception" />
  <meta property="og:site_name" content="shaolinspirit76.github.io/paul.compere/" />
  <meta property="og:locale" content="fr_FR" />


  <!-- TWITTER CARD DATA -->

  <meta name="twitter:title" content="Paul Compère - Responsable Pédagogique" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@ShaolinSpirit76" />
  <meta name="twitter:url" content="https://shaolinspirit76.github.io/paul.compere/" />
  <meta name="twitter:description"
    content="Responsable pédagogique & Chef de projet enseignement - ingénierie pédagogique, didactique, formation, management, conception" />
  <meta name="twitter:creator" content="@ShaolinSpirit76" />
  <!-- Twitter Summary card images must be at least 200x200px -->
  <meta name="twitter:image" content="http://paul-compere.github.io/img/images/doomsday.svg" alt="androïde en méditation en position du lotus tel un moine bouddhiste" />


  <!-- SCHEMA.ORG MARKUP FOR GOOGLE+ -->

  <meta itemprop="name" content="Paul Compère - Responsable Pédagogique" />
  <meta itemprop="description"
    content="Responsable pédagogique & Chef de projet enseignement - ingénierie pédagogique, didactique, formation, management, conception" />
  <meta itemprop="image" content="http://paul-compere.github.io/img/images/doomsday.svg" alt="androïde en méditation en position du lotus tel un moine bouddhiste" />


  <!-- GOOGLE AUTHORSHIP AND PUBLISHER MARKUP -->

  <link rel="author" href="https://github.com/ShaolinSpirit76" />
  <link rel="publisher" href="https://shaolinspirit76.github.io/paul.compere/" />


</head>

<body>

  <!-- Projets-Etudes -->

  <nav id="menu1" class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="#"></a>
    <button id="navButton" class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span id="textNavButton" class="text-white">Cliquez pour voir le menu</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item">
          <img src="../../img/images/viking.png" class="img-fluid" alt="bibliothèque" width="30%" height="30%" />
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="clickTop home nav-link" href="../../index.html">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle orange" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Compétences
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="clickproScol dropdown-item" href="Projets-Etudes.html" style="color:#e65100;"><B>Projets</B></a>
            <a class="clickOC dropdown-item" href="Certif-OC.html" style="color:white;"><B>Certificats</B></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Expérience
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="clickInfo informatique dropdown-item" href="../experience/Info.html" style="color:#e65100;"><B>En
                informatique</B></a>
            <a class="clickAutre autre dropdown-item" href="../experience/Enseignement.html" style="color:#e65100;"><B>Enseignement</B></a>
            <a class="clickAutre autre dropdown-item" href="../experience/Autre.html" style="color:#e65100;"><B>Autre</B></a>
            <div class="dropdown-divider"></div>
            <a class="clickEnseignement enseignement dropdown-item" href="../experience/AllExperiences.html"
              style="color:#e65100"><B>Toutes</B></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="clickTop1 dpl nav-link" href="../Diplomes.html">Diplômes</a>
        </li>
        <li class="nav-item">
          <a class="clickTop1 pscol nav-link" href="../Parcours-Scolaire.html">Parcours scolaire</a>
        </li>
        <li class="nav-item">
          <a class="clickTop1 crt nav-link" href="../Creations.html">Créations</a>
        </li>
        <li class="nav-item">

          <a class="clickTop1 lsr nav-link" href="../Loisirs.html">Loisirs</a>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse" data-target="#navbarSupportedContent" class="clickContact ctc nav-link"
            href="#image7">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item">
          <img src="../../img/images/viking.png" class="img-fluid" alt="bibliothèque" width="30%" height="30%" />
        </li>
      </ul>
    </div>
  </nav>

<!-- Compétences projets études/perso -->

  <div id="competences">


    <div id="blockCpt">

      <a class="buttonScroll"></a>



      <div class="space row no-gutters">
        <div class="col-md-10 col-lg-5 col-sm-10 offset-sm-1 col mx-auto">

          <div data-aos="flip-left">
            <div id="transparent" class="jumbotron rounded-circle">
              <h3 class="cadre KungFu text-center">Langages de programmation</h3>
            </div>
          </div>
          <hr class="my-4">
          <p class="cadre info text-white text-center">Vus dans le cadre de la formation à <a
              href="https://lamanu.fr/le-havre" target="_blank" title="Cliquez pour voir">La Manu</a> en 2019</p>
        </div>
      </div>

      <div class="container">
        <div class="space row no-gutters">
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder-icon.svg" width="120%" height="120%" class="img-fluid" alt="PHP7"
              title="PHP7">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_javascript.svg" width="90%" height="90%" class="img-fluid"
              alt="JavaScript" title="JavaScript">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_html_5.svg" width="80%" height="80%" class="img-fluid" alt="HTML5"
              title="HTML5">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_css.svg" width="70%" height="70%" class="img-fluid" alt="CSS3"
              title="CSS3">
          </div>
        </div>
      </div>

      <div class="space row no-gutters">
        <div class="col-md-10 col-lg-5 col-sm-10 offset-sm-1 col mx-auto">

          <p class="cadre info text-white text-center">Appris en auto-didacte, grâce aux tutos <a
              href="https://OpenClassrooms.com" target="_blank" title="Cliquez pour voir">OpenClassrooms</a> en
            2012-2013</p>

        </div>
      </div>

      <div class="container">
        <div class="space row no-gutters">
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_source_c_259.png" width="90%" height="90%" class="img-fluid" alt="C"
              title="C">
          </div>
        </div>
      </div>





      <div class="space row no-gutters">
        <div class="col-md-10 col-lg-5 col-sm-10 offset-sm-1 col mx-auto">

          <div data-aos="flip-left">
            <div id="transparent" class="jumbotron rounded-circle">
              <h3 class="cadre KungFu text-center">Frameworks et IDE</h3>
            </div>
          </div>
          <hr class="my-4">
          <p class="cadre info text-white text-center">Vus dans le cadre de la formation à <a href="https://lamanu.fr/le-havre" target="_blank" title="Cliquez pour voir">La Manu</a> en 2019</p>
        </div>
      </div>
      <br /><br />
      <div class="col-4 mx-auto">
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span class="yellow">Frameworks et
              bibliothèques</span></div>
        </div>
      </div>

      <div class="container">
        <div class="space row no-gutters">
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_symfony.svg" width="80%" height="80%" class="img-fluid" alt="Symfony"
              title="Symfony">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_mysql.svg" width="90%" height="90%" class="img-fluid" alt="MySQL"
              title="MySQL">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_Angular.svg" width="80%" height="80%" class="img-fluid"
              alt="AngularJS" title="AngularJS">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_jquery.svg" width="70%" height="70%" class="img-fluid" alt="JQuery"
              title="JQuery">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_bootstrap.svg" width="70%" height="70%" class="img-fluid"
              alt="Bootstrap 4" title="Bootstrap 4">
          </div>
        </div>
      </div>
      
      <br /><br />
      <div class="col-4 mx-auto">
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span class="yellow">Outils de travail</span>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="space row no-gutters">
          <div class="col-2 mx-auto">
            <img src="../../img/images/workbench.png" width="80%" height="80%" class="img-fluid rounded" alt="Workbench"
              title="workbench">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/JMerise.jpg" width="80%" height="80%" class="img-fluid rounded" alt="JMerise"
              title="JMerise">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_AWS.svg" width="120%" height="120%" class="img-fluid" alt="AWS"
              title="Amazon Web Service">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_wordpress.svg" width="80%" height="80%" class="img-fluid"
              alt="WordPress 5" title="WordPress 5">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_11-Trello_3225902.svg" width="70%" height="70%" class="img-fluid"
              alt="Trello" title="Trello">
          </div>
        </div>
      </div>
      
      <br /><br />
      <div class="col-4 mx-auto">
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span class="yellow">Environnement de
              développement</span></div>
        </div>
      </div>

      <div class="container">
        <div class="space row no-gutters">
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_windows-visual-studio_313080.svg" width="90%" height="90%"
              class="img-fluid rounded" alt="Visual Studio Code" title="Visual Studio Code">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/Apache NetBeans Logo.svg" width="70%" height="70%" class="img-fluid rounded"
              alt="NetBeans" title="NetBeans">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/atom-4-logo-png-transparent.png" width="80%" height="80%" class="img-fluid"
              alt="Atom" title="Atom">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_github_394189.svg" width="90%" height="90%" class="img-fluid"
              alt="Github" title="Github">
          </div>
          <div class="col-2 mx-auto">
            <img src="../../img/images/linux.png" width="80%" height="80%" class="img-fluid" alt="Linux" title="Ubuntu">
          </div>
        </div>
      </div>
      

      <div class="space row no-gutters">
        <div class="col-md-10 col-lg-5 col-sm-10 offset-sm-1 col mx-auto">

          <p class="cadre info text-white text-center">Appris en auto-didacte, grâce aux tutos <a
              href="https://OpenClassrooms.com" target="_blank" title="Cliquez pour voir">OpenClassrooms</a> en
            2012-2013</p>

        </div>
      </div>

      <div class="container">
        <div class="space row no-gutters">
          <div class="col-2 mx-auto">
            <img src="../../img/images/iconfinder_dev_c_copy_100698.png" width="90%" height="90%" class="img-fluid"
              alt="Dev-C++" title="Dev-C++">
          </div>
        </div>
      </div>






    </div>

  </div>

  <!-- FOOTER START -->

  <div id="foot">
    <footer class="main-footer">

      <!-- Footer links - Start -->
      <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

          <!-- First column - Start -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <div class="photo-responsive">
              <a href="../../img/images/moi.jpg" target="_blank"><img src="../../img/images/moi_mini.jpg" id="image7"
                  class="img-fluid" alt="photo de profil" width="100%" height="100%"
                  title="Cliquez pour voir l'image en taille réelle" /></a>
            </div>


          </div>
          <!-- First column - End -->

          <!-- Second column - Start -->
          <div id="contact" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="footer-title">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" />
            <p>
              <i class="fas fa-home  mr-3"></i> Nord | Normandie ❤️
            </p>
            <p id="contact">
              <i class="fas fa-envelope mr-3"></i> <a href="mailto:paul.compere76@gmail.com"
                title="Cliquez pour envoyer un email">paul.compere76@gmail.com</a>
            </p>
            <p>
              <i class="fas fa-phone mr-3"></i> 06. 75. 87. 94. 32
            </p>
          </div>
          <!-- Second column - End -->

          <!-- Third column - Start -->
          <div class="col-md-3 offset-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="footer-title">Autres informations</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" />
            <p class="footer-legis">
              • Born in the 90' à Rouen</p>
            <p class="footer-legis">
              • Permis A et B
            </p>
            <p class="footer-legis">
              • Véhicules personnels
            </p>
            <p class="footer-legis">
              • <a href="../../img/CV_COMPERE_Paul.pdf" target="_blank" title="Cliquez pour ouvrir">CV papier</a>
            </p>
            <!-- <p class="footer-legis">
              • <a href="../../img/English-CV_COMPERE_Paul.pdf" target="_blank" title="Click to open">International CV</a>
            </p> -->
          </div>
          <!-- Third column - End -->

          <div class="col-md-2 col-lg-1 col-xl-1 mx-auto mb-4">
          </div>

          <!-- Fourth column - Start -->
          <div class="col-md-4 offset-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="footer-title">Site réalisé avec : </h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" />
            <p>
              <i class="fab fa-html5 fa-5x img-fluid" alt="logo HTML5" title="HTML5"></i>
              <i class="fab fa-css3-alt fa-5x img-fluid" alt="logo CSS3" title="CSS3"></i>
            </p>
            <p>
              <i class="fab fa-js fa-4x img-fluid" alt="logo JavaScript" title="JavaScript"></i>
              <i class="fab fa-bootstrap fa-4x img-fluid" alt="logo Bootstrap" title="Bootstrap"></i>
            </p>
          </div>
          <!-- Fourth column - End -->

        </div>
        <p id="socialNetwork" class="center col-md-4 offset-md-4 col-lg-3 col-xl-3 mx-auto">
          <a href="https://www.linkedin.com/in/paulcompere76/" target="_blank" title="Mon Linkedin"><i
              class="fab fa-linkedin fa-2x"></i></a>
          <a href="https://github.com/ShaolinSpirit76" target="_blank"><img
              src="../../img/images/iconfinder_github_394189.png" class="img-fluid" alt="Chat-poulpe" width="30%"
              height="30%" title="Mon Github" /></a>
          <i class="fab fa-discord fa-lg mr-2 fa-2x" title="ShaolinSpirit76#4052"></i>
        </p>
      </div>
      <!-- Footer links - End -->


      <!-- Copyright - Start -->
      <div class="footer-copyright text-center py-3 text-white">© 2019 - 2023 | Copyright : Paul Compère 🐲
      </div>
      <!-- Copyright - End -->

    </footer>
  </div>

  <!-- FOOTER END -->


<!--|____________________________________|-->
<!--|----------------------------------- |-->
<!--|             SCRIPTS                |-->
<!--|----------------------------------- |-->
<!--|____________________________________|-->

  <!-- JavaScript CDN always at the end of the body to avoid bugs -->
    <!-- First : JQuery CDN -->
    <script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous"></script>
    <script src="../../assets/CDN/jquery.min.js"></script>
    <!-- Then : Popper.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="../../assets/CDN/popper.min.js"></script>
    <!-- Finally : Bootstrap.js CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="../../assets/CDN/bootstrap.min.js"></script>
  <!-- Sweet alert 2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../../assets/CDN/sweetalert2@11.js"></script>
  <!-- Font Awesome CDN for using fa-fa and icons -->
  <script src="https://kit.fontawesome.com/eaadffbb2b.js"></script>
  <script src="../../assets/CDN/eaadffbb2b.js"></script>
  <!-- Script for animation -->
  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <script src="../../assets/CDN/aos.js"></script>
  <!-- Link with JS sheet (always after JQuery CDN) -->
  <script src="../../assets/scripts/script.js"></script>
</body>

</html>