<!DOCTYPE html>
<!-- Specification of the page language and reading direction. Here : french, left to right. -->
<html lang="fr" dir="ltr">

<head>

  <!-- BASIC META - MINIMAL CONFIGURATION -->

  <!-- Support for accents and other special characters -->
  <meta charset="utf-8" />
  <!-- For responsive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Internet Explorer Compatibility -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- The description that the browser should display in its results -->
  <meta name="description"
    content="Full-Stack Developer, Python, JS, PHP, HMTL/CSS & WordPress, human relationship (#easierLife, #healthierLife), Green code (#ecology), Applications - UX design - E-commerce - Machine Learning - AI">

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/CDN/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- CSS link for animation -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="../../assets/CDN/aos.css" rel="stylesheet">
  <!-- CSS link for the scroll to top -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/CDN/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
  <link href="../../assets/CDN/merriweather.css" rel="stylesheet">
  <!-- Link to CSS page -->
  <link rel="stylesheet" href="../../assets/CSS/style.css">
  <!-- Link to CSS specific to this page -->
  <link rel="stylesheet" href="../../assets/CSS/experience.css">
  <!-- Link for the font -->
  <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
  <link href="../../assets/CDN/merienda.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href="../../assets/CDN/roboto.css" rel="stylesheet">
  <!-- thumbnail icon -->
  <link rel="icon" href="../../img/images/dragon-face_1f432.png">

  <!-- thumbnail title -->
  <title>Paul Compère - Développeur</title>


  <!-- OPEN GRAPH DATA - OPTIMIZED FOR FACEBOOK -->

  <meta property="og:title" content="Paul Compère - Développeur" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://paul-compere.github.io/developpeur.web/" />
  <meta property="og:image" content="http://paul-compere.github.io/img/images/doomsday.svg" />
  <meta property="og:description"
    content="Full-Stack Developer, Python, JS, PHP, HMTL/CSS & WordPress, human relationship (#easierLife, #healthierLife), Green code (#ecology), Applications - UX design - E-commerce - Machine Learning - AI" />


  <!-- TWITTER CARD DATA -->

  <meta name="twitter:card" content="icon">
  <meta name="twitter:site" content="@Paul Compère - Développeur">
  <meta name="twitter:title" content="Paul Compère - Développeur">
  <meta name="twitter:description"
    content="Full-Stack Developer, Python, JS, PHP, HMTL/CSS & WordPress, human relationship (#easierLife, #healthierLife), Green code (#ecology), Applications - UX design - E-commerce - Machine Learning - AI">
  <meta name="twitter:creator" content="@ShaolinSpirit76">
  <!-- Twitter Summary card images must be at least 200x200px -->
  <meta name="twitter:image" content="http://paul-compere.github.io/img/images/doomsday.svg">


  <!-- SCHEMA.ORG MARKUP FOR GOOGLE+ -->

  <meta itemprop="name" content="Paul Compère - Développeur">
  <meta itemprop="description"
    content="Full-Stack Developer, Python, JS, PHP, HMTL/CSS & WordPress, human relationship (#easierLife, #healthierLife), Green code (#ecology), Applications - UX design - E-commerce - Machine Learning - AI">
  <meta itemprop="image" content="http://paul-compere.github.io/img/images/doomsday.svg">


  <!-- GOOGLE AUTHORSHIP AND PUBLISHER MARKUP -->

  <link rel="author" href="https://github.com/ShaolinSpirit76" />
  <link rel="publisher" href="https://paul-compere.github.io/developpeur.web/" />


</head>

<body>










  <nav id="menu1" class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="#"></a>
    <button id="navButton" class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span id="textNavButton" class="text-white">Cliquez pour voir le menu</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item">
          <img src="../../img/images/viking1.png" class="img-fluid" alt="viking wolf" width="10%" height="10%" />
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="clickTop home nav-link" href="../../index.html">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Compétences
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="clickproScol dropdown-item" href="../competences/Projets-Etudes.html"
              style="color:#e65100;"><B>Projets d'étude</B></a>
            <a class="clickOC dropdown-item" href="../competences/Certif-OC.html" style="color:#e65100;"><B>Certificats
                OC</B></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle orange" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Expérience
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="clickInfo informatique dropdown-item" href="Info.html" style="color:#e65100;"><B>En
                informatique</B></a>
            <a class="clickAutre autre dropdown-item" href="Autre.html" style="color:#e65100;"><B>Autre</B></a>
            <div class="dropdown-divider"></div>
            <a class="clickEnseignement enseignement dropdown-item" href="Enseignement.html"
              style="color:#e65100;"><B>Dans l'enseignement</B></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="clickTop1 dpl nav-link" href="../Diplomes.html">Diplômes</a>
        </li>
        <li class="nav-item">
          <a class="clickTop1 pscol nav-link" href="../Parcours-Scolaire.html">Parcours scolaire</a>
        </li>
        <li class="nav-item">
          <a class="clickTop1 crt nav-link" href="../Creations.html">Créations</a>
        </li>
        <li class="nav-item">

          <a class="clickTop1 lsr nav-link" href="../Loisirs.html">Loisirs</a>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse" data-target="#navbarSupportedContent" class="clickContact ctc nav-link"
            href="#image7">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item">
          <img src="../../img/images/viking1.png" class="img-fluid" alt="viking wolf" width="10%" height="10%" />
        </li>
      </ul>
    </div>
  </nav>















  <a class="buttonScroll"></a>

  <div id="autre">

    <div class="row col-lg-10 col-md-10 col-sm-12 mx-auto">
      <h3><span class="info badge text-white mx-auto">En informatique</span></h3>

      <table class="info table table-bordered table-dark">
        <thead class="text-center">
          <tr id="TH2">
            <th class="marge2" scope="col">Période</th>
            <th class="marge2" scope="col">Emploi</th>
            <th class="marge2" scope="col">Lieu</th>
            <th class="marge2" scope="col">Certificat</th>
          </tr>
        </thead>
        <tbody>
          <!-- Sixth experience -->
          <tr>
            <td class="text-center"><B><br /><br />Septembre 2020 - Aujourd'hui</B></td>
            <td class="text-center">
              <div class="accordion" id="Experience6"><br />
                <div class="info card">
                  <div class="info card-header" id="E6">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed text-center" type="button" data-toggle="collapse"
                        data-target="#collapseE6" aria-expanded="false" aria-controls="collapseE6">
                        <B>Responsable Pédagogique en développement web chez Epitech</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE6" class="informatique1 collapse" aria-labelledby="E6" data-parent="#Experience6">
                    <div class="card-body text-dark text-justify">
                      <p><B>Référent des programmes courts à <a
                            href="https://www.epitech.eu/fr/ecole-informatique-lille/" target="_blank"
                            title="Aller sur le site d'Epitech">Epitech Lille</a> : <I><a
                              href="https://webacademie.org/" target="_blank"
                              title="Aller sur le site de la formation">Web@cadémie</a></I> et Coding Academy.</B></p>
                      <p>▪ Organisation et participation active au processus de recrutement des apprenants
                        ▪ Gestion administrative (de l'entrée à la sortie de formation)
                        ▪ Préparation des apprenants au passage de la certification professionnelle de IDW - RNCP 31899
                        niveau 5 (bac+2)
                        ▪ Recrutement d'intervenants extérieurs pour les séminaires de la Coding Academy
                        ▪ Gestion de conflit et management de projet d'équipe
                        ▪ Pilotage du programme de formation (organisation, bonne tenue du planning)
                        ▪ Rédaction de sujets et de documents officiels
                        ▪ Préparation au certificat Voltaire
                        ▪ Accompagnement de projets de développement web
                        ▪ Mise en place et pilotage de méthodes agiles
                        ▪ Préparation d'ateliers autour du code
                        ▪ Notation et suivi des apprenants
                        ▪ Coaching d'insertion professionnelle (culture d'entreprise, animations de séminaires sur la
                        recherche d'alternance, revue CV, simulation d'entretiens)
                        ▪ Coaching de développement personnel (initiation à la sophrologie, méthodes pour le
                        télétravail)
                        ▪ Assurer la bonne relation école / entreprise / apprenant
                        ▪ Promotion de la formation (animation de webinaires, participation aux JPO, Mission Locale)
                        ▪ Droit du travail</p>
                      <a href="https://www.webacademie.org/" target="_blank"><img src="../../img/images/Webacademie.png"
                          class="img-fluid" width="50%" height="50%" alt="Logo Web@cadémie" title="Web@cadémie" /></a>
                      <a href="https://www.coding-academy.fr/" target="_blank"><img
                          src="../../img/images/CODING_LOGO.png" class="img-fluid float-right" width="25%" height="25%"
                          alt="Logo Coding Academy" title="Coding Academy" /></a>

                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="font-italic text-center">
              <div class="accordion" id="Experience6"><br />
                <div class="info card">
                  <div class="card-header" id="E6">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseE6" aria-expanded="false" aria-controls="collapseE6">
                        <B>Lille</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE6" class="informatique1 collapse" aria-labelledby="E6" data-parent="#Experience6">
                    <div class="card-body text-dark text-center">
                      <p>Epitech Lille</p>
                      <p>5-9 rue du Palais Rihour</p>
                      <p><B>59800, Lille</B></p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center"><a href="../../img/certif/epitech_cdi.pdf" target="_blank"><img
                  src="../../img/certif/epitech_cdi_mini.png" alt="Contrat de travail"
                  title="Cliquez pour afficher"></a>
            </td>
          </tr>
          <!-- Fifth experience -->
          <tr>
            <td class="text-center"><B><br /><br />Décembre 2019 - Août 2020</B></td>
            <td class="text-center">
              <div class="accordion" id="Experience5"><br />
                <div class="info card">
                  <div class="info card-header" id="E5">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed text-center" type="button" data-toggle="collapse"
                        data-target="#collapseE5" aria-expanded="false" aria-controls="collapseE5">
                        <B>Encadrant Pédagogique en développement web chez Epitech</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE5" class="informatique1 collapse" aria-labelledby="E5" data-parent="#Experience5">
                    <div class="card-body text-dark text-justify">
                      <p><B>En charge de la formation <I><a href="https://webacademie.org/" target="_blank"
                              title="Aller sur le site de la formation">Web@cadémie</a></I> d'Epitech - <a
                            href="https://www.epitech.eu/fr/ecole-informatique-lille/" target="_blank"
                            title="Aller sur le site d'Epitech">Lille</a>.</B></p>
                      <p>
                        ▪ Accompagnement de projets de développement web
                        ▪ Mise en place et pilotage de méthodes agiles
                        ▪ Préparation d'ateliers autour du code
                        ▪ Notation et suivi des étudiants
                        ▪ Coaching d'insertion professionnelle
                        ▪ Coaching de développement personnel
                        ▪ Promotion de la formation
                        ▪ Participation au processus de recrutement des apprenants
                      </p>
                      <a href="https://www.webacademie.org/" target="_blank"><img src="../../img/images/Webacademie.png"
                          class="img-fluid" width="50%" height="50%" alt="Logo Web@cadémie" title="Web@cadémie" /></a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="font-italic text-center">
              <div class="accordion" id="Experience5"><br />
                <div class="info card">
                  <div class="card-header" id="E5">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseE5" aria-expanded="false" aria-controls="collapseE5">
                        <B>Lille</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE5" class="informatique1 collapse" aria-labelledby="E5" data-parent="#Experience5">
                    <div class="card-body text-dark text-center">
                      <p>Epitech Lille</p>
                      <p>5-9 rue du Palais Rihour</p>
                      <p><B>59800, Lille</B></p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center"><a href="../../img/certif/epitech_cdd.pdf" target="_blank"><img
                  src="../../img/certif/epitech_cdd-1_mini.png" alt="Certificat de travail"
                  title="Cliquez pour afficher"></a>
            </td>
          </tr>
          <!-- Fourth experience -->
          <tr>
            <td class="text-center"><B><br /><br />Juin 2019 - Septembre 2019</B></td>
            <td class="text-center">
              <div class="accordion" id="Experience4"><br />
                <div class="info card">
                  <div class="info card-header" id="E4">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed text-center" type="button" data-toggle="collapse"
                        data-target="#collapseE4" aria-expanded="false" aria-controls="collapseE4">
                        <B>Développeur Freelance - Projet pro - KFTM</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE4" class="informatique1 collapse" aria-labelledby="E4" data-parent="#Experience4">
                    <div class="card-body text-dark text-justify">
                      <p>
                        ▪ Projet professionnel pour valider le titre pro de la formation à <I><a
                            href="https://lamanu.fr/le-havre" target="_blank">La Manu</a></I>.<br /><br />

                        ▪ Création d'un site-appli responsive pour la présentation, l'inscription et la gestion d'une
                        école de Kung-Fu. Possibilité de s'inscrire, avec espace perso et possibilité de s'inscrire à
                        des cours/évènements. Plateforme admin, avec possibilité de gérer les membres du sites, créer
                        des évènements et les gérer. En prévision : calendrier dynamique avec les cours et les
                        évènements, boutique de l'école, messagerie interne, chat local, service de mail automatique
                        pour les inscriptions...<br /><br />

                        <a href="../../img/book/Resume_de_Projet_Pro_LaManu.pdf" target="_blank"
                          title="Cliquez pour afficher"><B>▪ Résumé de projet pro</B></a><br />
                        <a href="../img/book/Dossier_Projet_Pro_COMPERE_Paul.pdf" target="_blank"
                          title="Cliquez pour afficher"><B>▪ Dossier du projet
                            pro</B></a><br />
                        <B>▪ Rôle :</B> Développeur Full-Stack, travail solo.<br />
                        ▪ Projet réalisé en PHP natif, JS (jQuery), HTML/CSS (Bootstrap).
                      </p>
                      <p>▪ Ce projet a été présenté à un jury de 2 développeurs profesionnels de la région Normandie le
                        17 septembre 2019, et a été validé ; octroyant ainsi le titre professionnel de <I>Développeur
                          Web et Web Mobile</I> délivré par La Manu. </p>

                      <p><B>Moyens utilisés :</B><br />
                        • <U>Editeur</U> : Visual Studio Code<br />
                        • <U>Versioning</U> : Github<br />
                        • <U>Langages</U> : HTML5, CSS3, JavaScript 1.9, PHP 7.2 et MySQL<br />
                        • <U>Bibliothèque</U> : jQuery 3.4<br />
                        • <U>Framework</U> : Bootstrap 4<br />
                        • <U>Serveur LAMP</U> : Linux Apache2 MySQL PHP<br />
                        • <U>Gestion de la base de données</U> : PhpMyAdmin et MySQL Workbench 8<br />
                        • <U>Architecture</U> : MVC<br />
                        • <U>Programmation</U> : PDO<br />
                        • <U>Maquettage</U> : Adobe XD 22.2<br />
                        • <U>Gestion de projet</U> : Trello<br />
                        • <U>Conception de la Base de Données</U> : JMerise 0.5<br />
                        • <U>Logiciel de présentation</U> : Prezi</p>
                      <p><a href="https://github.com/ShaolinSpirit76/KFTM2" target="_blank"
                          title="Cliquez pour afficher">Lien repo Github</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="font-italic text-center">
              <div class="accordion" id="Experience4"><br />
                <div class="info card">
                  <div class="card-header" id="E4">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseE4" aria-expanded="false" aria-controls="collapseE4">
                        <B>Le Havre</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE4" class="informatique1 collapse" aria-labelledby="E4" data-parent="#Experience4">
                    <div class="card-body text-dark text-center">
                      <p>2 rue Dombasle</p>
                      <p>(CCI Le Havre,</p>
                      <p>Hôtel d'entreprises, Dombasle 1)</p>
                      <p><B>76600, Le Havre</B></p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center"><a href="../../img/certif/AF_COMPERE_Paul.pdf" target="_blank"><img
                  src="../../img/certif/af_compere_paul_mini.png" class="img-fluid" alt="Attestation de Formation"
                  title="Cliquez pour afficher"></a></td>
          </tr>
          <!-- Third experience -->
          <tr>
            <td class="text-center"><B><br /><br />Mars 2019 - Septembre 2019</B></td>
            <td class="text-center">
              <div class="accordion" id="Experience3"><br />
                <div class="info card spaceBottom">
                  <div class="info card-header" id="E3">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed text-center" type="button" data-toggle="collapse"
                        data-target="#collapseE3" aria-expanded="false" aria-controls="collapseE3">
                        <B>Développeur Full-Stack - Projets d'école</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE3" class="informatique1 collapse" aria-labelledby="E3" data-parent="#Experience3">
                    <div class="card-body text-dark text-justify">
                      <h3 class="center"><B>Projets réalisés dans le cadre de la formation à <I><a
                              href="https://lamanu.fr/le-havre" target="_blank">La Manu</a></I></B></h3>
                      <h4 class="center space">
                        ▪ Projet 6 (août 2019) : <B>Réalisation d'une application de gestion de patient pour un
                          hôpital</B>
                      </h4>
                      <p>
                        Après l’intégration de la <B>Base de Données</B>, cette application permet d’<B>inscrire</B> de
                        nouveaux patients, de <B>récupérer</B> leurs informations personnelles, de les <B>modifier</B>
                        et de les <B>supprimer</B>. On peut aussi afficher les patients dans une liste et les chercher
                        selon leur nom grâce à une <B>barre de recherche</B>. L’affichage est limité par un nombre et on
                        peut naviguer grâce à une <B>pagination</B>. On peut également sélectionner un patient en
                        particulier, lui ajouter un rendez-vous, et voir le détail des rendez-vous classés selon leur
                        <B>ordre chronologique</B>. On peut les modifier et les supprimer de la base de données.<br />
                      </p>
                      <p>Cette application a été réalisée en respectant l’architecture de type <B>MVC</B> (model, view,
                        controller) et en Programmation Orientée Objet.</p>
                      <p><B>Rôle :</B> Développeur Full-Stack, travail solo.</p>
                      <p><B>=></B> Projet réalisé en 4 jours.<br /></p>

                      <p><B>Moyens utilisés :</B><br />
                        • <U>Editeur</U> : Visual Studio Code<br />
                        • <U>Versioning</U> : Github<br />
                        • <U>Serveur LAMP</U> : Linux Apache2 MySQL PHP<br />
                        • <U>Gestion de la base de données</U> : PhpMyAdmin<br />
                        • <U>Architecture</U> : MVC<br />
                        • <U>Programmation</U> : PDO<br />
                        • <U>Langages</U> : HTML5, CSS3, JavaScript 1.9 et PHP 7.2<br />
                        • <U>Framework</U> : Bootstrap 4</p>

                      <h4 class="center space">
                        ▪ Projet 5 (juillet 2019) : <B>Réalisation d'un site pour un éleveur de chat de race fictif à
                          l'aide du CMS WordPress</B>
                      </h4>
                      <p>J'ai reçu un cahier des charges pour un client fictif, souhaitant mettre en avant son activité
                        d’élevage et de vente d’animaux de race avec le CMS Wordpress. Il a fallu choisir
                        un thème approprié, que j'ai personnalisé en ajoutant du CSS3. J'ai créé trois articles
                        personnels (afin de tester le référencement naturel de mon site) et placé les mentions légales.
                        Puis j'ai utilisé l’hébergeur AWS (Amazon Web Service).</p>
                      <p><B>Rôle :</B> Développeur Full-Stack, travail solo.</p>
                      <p><B>=></B> Projet réalisé en 3 jours.<br /></p>

                      <p><B>Moyens utilisés :</B><br />
                        • <U>CMS</U> : WordPress<br />
                        • <U>Serveur LAMP</U> : Linux Apache2 MySQL PHP<br />
                        • <U>Langages</U> : CSS3<br />
                        • <U>Gestion de la base de données</U> : PhpMyAdmin<br />
                        • <U>Hébergeur</U> : AWS</p>

                      <h4 class="center space">
                        ▪ Projet 4 (juin 2019) : <B>Réalisation de 2 sites en PHP à partir de base de données en XML</B>
                      </h4>
                      <p>- Réalisation d'un site pour une entreprise du BTP à partir d'une base de données XML.</p>
                      <p><B>Rôle :</B> Développeur Full-Stack, au sein d'une équipe de 3.</p>
                      <p><B>=></B> Projet réalisé en 1,5 jours.<br /></p>

                      <p>- Réalisation d'un site rencensant les actualités sur le thème des nouvelles technologies. Pour
                        afficher les différents articles d'actualités, apparaissant du plus récent au plus ancien selon
                        leur date de publication, il nous a fallu « parser » les fichiers XML récupérés en ligne avec
                        PHP, ce qui nous a permis de générer de façon dynamique les différentes pages du site.
                        Nous avons aussi travaillé sur la réécriture d’URL qui permet une lecture plus lisible des
                        adresses URL et de n’afficher que les rubriques présentes dans le fichier XML. Puis nous avons
                        personnalisé notre page erreur 404 en modifiant le fichier caché .htaccess. La navbar de notre
                        site permettait de s’inscrire et de modifier ses préférences d’affichage (couleurs), gardées en
                        mémoire par le navigateur grâce à la mise en place de cookies.</p>
                      <p><B>Rôle :</B> Développeur Full-Stack, au sein d'une équipe de 3.</p>
                      <p><B>=></B> Projet réalisé en 2 jours.<br /></p>
                      <p><B>Moyens utilisés :</B><br />
                        • <U>Editeur</U> : Netbeans<br />
                        • <U>Versioning</U> : Bitbucket<br />
                        • <U>Langages</U> : HTML5, CSS3, JavaScript 1.9 et PHP 7.2<br />
                        • <U>Bibliothèque</U> : Materialize1<br />
                        • <U>Framework</U> : Bootstrap 4</p>

                      <h4 class="center space">
                        ▪ Projet 3 (mai 2019) : <B>Création d'un site e-commerce pour un commerce du Havre en
                          AngularJS</B>
                      </h4>
                      <p>Création d'un site e-commerce (avec prise en compte des frais de port) pour un commerce
                        existant sur Le Havre (Le Démon du Jeu), avec un minimum de 3 catégories pour un total de 24
                        produits. Comportant une page d'accueil, une navbar, le
                        panier dans une fenêtre modale, et un footer contenant les mentions légales, les liens
                        réseaux-sociaux, les contacts, ainsi qu'un lien google-map. Les produits comportent une image,
                        une description, un prix et une référence. Ces
                        informations
                        réapparaissent dans le panier (à l'exception de la description), dans lequel il est possible de
                        modifier la quantité ou de supprimer le produit. Le prix final s'affiche en fonction de la zone
                        de livraison.<br /></p>

                      <p>Le site a été développé en <I>single-page application</I>.</p>
                      <p><B>Rôle :</B> Chef de projet Front-End, au sein d'une équipe de 4.</p>
                      <p><B>=></B> Projet réalisé en 3 jours.</p>
                      <p><B>Moyens utilisés :</B><br />
                        • <U>Editeur</U> : Atom<br />
                        • <U>Versioning</U> : Github<br />
                        • <U>Langages</U> : HTML5, CSS3 et JavaScript 1.9<br />
                        • <U>Frameworks</U> : Bootstrap 4 et AngularJS 1.7</p>
                      <p><a href="https://github.com/ShaolinSpirit76/Projet3Angularjs" target="_blank"
                          title="Cliquez pour afficher">Lien repo Github</a></p>

                      <h4 class="center space">
                        ▪ Projet 2 (avril 2019) : <B>Création d'un site e-commerce fictif en JQuery</B>
                      </h4>
                      <p>Création de la partie Front-End d'un site e-commerce pour un commerce fictif (opticien)
                        comprenant : <br /><br />
                        - <B>Une navbar</B> permettant de naviguer parmi 4 catégories de produits, contenant elles-mêmes
                        5 marques fictives chacune, pour un total de 80 produits.<br />
                        - La navbar permet également d'afficher tous les produits ensemble, de revenir à l'accueil,
                        d'ouvrir un menu qui propose de <B>se connecter</B> (identifiant et mot de passe), d'ouvrir un
                        <B>formulaire d'inscription</B> et d'aller dans
                        le panier.<br />
                        - <B>Le panier</B> récupère les informations du produit. Possibilité de modifier la quantité ou
                        de supprimer l'article. Le total est calculé en fonction du contenu du panier.<br />
                        - <B>La page d'accueil</B> met en avant les diverses promotions, notamment grâce à un
                        carrousel.<br />
                        - Un footer contenant <B>les mentions légales</B>, la législation, les contacts, un lien
                        google-map et les moyens de paiement acceptés.<br />
                      </p>

                      <p>Le site a été développé en <I>single-page application</I>.</p>
                      <p><B>Rôle : </B>Développeur Front-End, au sein d'une équipe de 4.</p>
                      <p><B>=></B> Projet réalisé en 3 jours.</p>
                      <p><B>Moyens utilisés :</B><br />
                        • <U>Editeur</U> : Atom<br />
                        • <U>Versioning</U> : Github<br />
                        • <U>Langages</U> : HTML5, CSS3 et JavaScript 1.9<br />
                        • <U>Bibliothèque</U> : Jquery 3.4<br />
                        • <U>Framework</U> : Bootstrap 4</p>
                      <p><a href="https://github.com/ShaolinSpirit76/LaBinocle" target="_blank"
                          title="Cliquez pour afficher">Lien repo Github</a></p>

                      <h4 class="center space">
                        ▪ Projet 1 (mars 2019) : <B>Refonte de site pour le rendre responsive avec Bootstrap</B>
                      </h4>
                      <p>Refonte d'un site e-commerce célèbre (LaRedoute) pour le passer en responsive design et ainsi
                        rendre la même expérience utilisateur sur tous les types d'écran.<br />
                        Nous avons d’abord étudié le design originel (maquettage), puis nous nous sommes répartis les
                        parties du site. Nous avons utilisé les classes Bootstrap ainsi que les langages HTML5 et CSS3
                        afin de créer l’ensemble des parties de la page d’accueil du site.<br /></p>
                      <p>Le site a été développé en <I>single-page application</I>.</p>
                      <p><B>Rôle : </B>Développeur Front-End, au sein d'une équipe de 3.</p>
                      <p><B>=></B> Projet réalisé en 5 jours.</p>
                      <p><B>Moyens utilisés :</B><br />
                        • <U>Editeur</U> : Atom<br />
                        • <U>Versioning</U> : Github<br />
                        • <U>Langages</U> : HTML5 et CSS3<br />
                        • <U>Framework</U> : Bootstrap 4</p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="font-italic text-center">
              <div class="accordion" id="Experience3"><br />
                <div class="info card">
                  <div class="card-header" id="E3">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseE3" aria-expanded="false" aria-controls="collapseE3">
                        <B>Le Havre</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE3" class="informatique1 collapse" aria-labelledby="E3" data-parent="#Experience3">
                    <div class="card-body text-dark text-center">
                      <p>2 rue Dombasle</p>
                      <p>(CCI Le Havre,</p>
                      <p>Hôtel d'entreprises, Dombasle 1)</p>
                      <p><B>76600, Le Havre</B></p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center"><br /><img src="../../img/images/laManu_mini.png" class="img-fluid"
                alt="Logo La Manu" title="La Manu Le Havre"></td>
          </tr>
          <!-- Second experience -->
          <tr>
            <td class="text-center"><B><br /><br />Juin 2016</B></td>
            <td class="text-center">
              <div class="accordion" id="Experience2">
                <div class="info card spaceBottom spaceTop">
                  <div class="info card-header" id="E2">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed text-center" type="button" data-toggle="collapse"
                        data-target="#collapseE2" aria-expanded="false" aria-controls="collapseE2">
                        <B>Intervenant TICE (remplaçant)</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE2" class="informatique1 collapse" aria-labelledby="E2" data-parent="#Experience2">
                    <div class="card-body text-dark text-justify">
                      <p><B>Création en autonomie (avec les élèves de la PS au CE2) du journal de l'école, sous Word, 10
                          pages.</B></p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="font-italic text-center">
              <div class="accordion" id="Experience2">
                <div class="info card spaceBottom spaceTop">
                  <div class="card-header" id="E2">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseE2" aria-expanded="false" aria-controls="collapseE2">
                        <B>Calleville</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE2" class="informatique1 collapse" aria-labelledby="E2" data-parent="#Experience2">
                    <div class="card-body text-dark text-center">
                      <p>École primaire de Calleville</p>
                      <p><B>27800</B></p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center"><img src="../../img/images/academie_Rouen_mini.png" class="img-fluid spaceTop"
                alt="Logo Académie de Rouen" title="EN Académie de Rouen"></td>
          </tr>
          <!-- First experience -->
          <tr>
            <td class="text-center"><B><br /><br />Février 2015</B></td>
            <td>
              <div class="accordion" id="Experience1">
                <div class="info card spaceBottom spaceTop">
                  <div class="info card-header" id="E1">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed text-center" type="button" data-toggle="collapse"
                        data-target="#collapseE1" aria-expanded="false" aria-controls="collapseE1">
                        <B>Intervenant en histoire de l'art - Sur l'histoire du cinéma d'animation japonais</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE1" class="informatique1 collapse" aria-labelledby="E1" data-parent="#Experience1">
                    <div class="card-body text-dark text-justify">
                      <p><B>Création d'un court-métrage d'animation (3min46) sous Windows Movie Maker : <a
                            href="../../img/book/le_pique_nique_de_mei.avi" title="Cliquez pour télécharger">"Le
                            pique-nique de Mei."</a></B></p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="font-italic text-center">
              <div class="accordion" id="Experience1">
                <div class="info card spaceBottom spaceTop">
                  <div class="card-header" id="E1">
                    <h2 class="mb-0">
                      <button class="titleColor btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseE1" aria-expanded="false" aria-controls="collapseE1">
                        <B>Courbépine</B>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseE1" class="informatique1 collapse" aria-labelledby="E1" data-parent="#Experience1">
                    <div class="card-body text-dark text-center">
                      <p>École primaire Ernest Anquetil,</p>
                      <p><B>27800, Courbépine</B></p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center"><img src="../../img/images/academie_Rouen_mini.png" class="img-fluid spaceTop"
                alt="Logo Académie de Rouen" title="EN Académie de Rouen"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>






































  <!-- FOOTER START -->

  <div id="foot">
    <footer class="main-footer">

      <!-- Footer links - Start -->
      <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

          <!-- First column - Start -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <div class="photo-responsive">
              <a href="../../img/images/moi.jpg" target="_blank"><img src="../../img/images/moi_mini.jpg" id="image7"
                  class="img-fluid" alt="photo de profil" width="100%" height="100%"
                  title="Cliquez pour voir l'image en taille réelle" /></a>
            </div>


          </div>
          <!-- First column - End -->

          <!-- Second column - Start -->
          <div id="contact" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="footer-title">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" />
            <p>
              <i class="fas fa-home  mr-3"></i> Nord | Normandie ❤️
            </p>
            <p id="contact">
              <i class="fas fa-envelope mr-3"></i> <a href="mailto:paul.compere76@gmail.com"
                title="Cliquez pour envoyer un email">paul.compere76@gmail.com</a>
            </p>
            <p>
              <i class="fas fa-phone mr-3"></i> 06. 75. 87. 94. 32
            </p>
          </div>
          <!-- Second column - End -->

          <!-- Third column - Start -->
          <div class="col-md-3 offset-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="footer-title">Autres informations</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" />
            <p class="footer-legis">
              • Born in the 90' à Rouen</p>
            <p class="footer-legis">
              • Permis A et B
            </p>
            <p class="footer-legis">
              • Véhicules personnels
            </p>
            <p class="footer-legis">
              • <a href="../../img/CV_COMPERE_Paul.pdf" target="_blank" title="Cliquez pour ouvrir">CV papier</a>
            </p>
            <!-- <p class="footer-legis">
              • <a href="../../img/English-CV_COMPERE_Paul.pdf" target="_blank" title="Click to open">International CV</a>
            </p> -->
          </div>
          <!-- Third column - End -->

          <div class="col-md-2 col-lg-1 col-xl-1 mx-auto mb-4">
          </div>

          <!-- Fourth column - Start -->
          <div class="col-md-4 offset-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="footer-title">Site réalisé avec : </h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" />
            <p>
              <i class="fab fa-html5 fa-5x img-fluid" alt="logo HTML5" title="HTML5"></i>
              <i class="fab fa-css3-alt fa-5x img-fluid" alt="logo CSS3" title="CSS3"></i>
            </p>
            <p>
              <i class="fab fa-js fa-4x img-fluid" alt="logo JavaScript" title="JavaScript"></i>
              <i class="fab fa-bootstrap fa-4x img-fluid" alt="logo Bootstrap" title="Bootstrap"></i>
            </p>
          </div>
          <!-- Fourth column - End -->

        </div>
        <p id="socialNetwork" class="center col-md-4 offset-md-4 col-lg-3 col-xl-3 mx-auto">
          <a href="https://www.linkedin.com/in/paulcompere76/" target="_blank" title="Mon Linkedin"><i
              class="fab fa-linkedin fa-2x"></i></a>
          <a href="https://github.com/ShaolinSpirit76" target="_blank"><img
              src="../../img/images/iconfinder_github_394189.png" class="img-fluid" alt="Chat-poulpe" width="30%"
              height="30%" title="Mon Github" /></a>
          <i class="fab fa-discord fa-lg mr-2 fa-2x" title="ShaolinSpirit76#4052"></i>
        </p>
      </div>
      <!-- Footer links - End -->


      <!-- Copyright - Start -->
      <div class="footer-copyright text-center py-3 text-white">© 2019 - 2021 | Copyright : Paul Compère 🐲
      </div>
      <!-- Copyright - End -->

    </footer>
  </div>

  <!-- FOOTER END -->


  <!-- SCRIPTS -->

  <!-- JavaScript CDN always at the end of the body to avoid bugs -->
  <!-- First : JQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="../../assets/CDN/jquery.min.js"></script>
  <!-- Then : Popper.js CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="../../assets/CDN/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <!-- Finally : Bootstrap.js CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../../assets/CDN/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- Sweet alert 2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="../../assets/CDN/sweetalert2@8.js"></script>
  <!-- Font Awesome CDN for using fa-fa and icons -->
  <script src="https://kit.fontawesome.com/eaadffbb2b.js"></script>
  <script src="../../assets/CDN/eaadffbb2b.js"></script>
  <!-- Script for animation -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="../../assets/CDN/aos.js"></script>
  <!-- Link with JS sheet (always after JQuery CDN) -->
  <script src="../../assets/scripts/script.js"></script>
</body>

</html>